@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --Tomato: hsl(4, 100%, 67%);
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

.primary-page {
  display: grid;
  width: 375px; 
  margin: 0 auto;
}

.desktop-img {
  display: none;
}

.mobile-img {
  display: block;
}

.mail-container {
  padding: 3rem 2.5rem;
}

.mail-container h1 {
  font-size: 3.8rem;
  color: var(--Dark-Slate-Grey);
  margin-bottom: 2rem;
}

.mail-container .p60000 {
  margin-bottom: 3rem;
}

.mail-container p {
  display: flex;
  color: var(--Dark-Slate-Grey);
  line-height: 2.2rem;
  margin-bottom: 1rem;
}

.mail-container span img {
  margin-right: 1.5rem;
}
.mail-msg {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.mail-container h6 {
  color: var(--Dark-Slate-Grey);
  font-weight: 700;
  margin-bottom: 0.8rem;
  margin-top: 3rem;
}

.mail-container .mail-msg .alert-msg {
  display: none;
  color: var(--Tomato);
}

.mail-container .mail-msg .alert-msg.active {
  display: block;
  color: var(--Tomato);
}

.input-container {
  display: grid;
}

.input-container .mail {
  height: 5.5rem;
  border: 2px solid rgb(206, 201, 201);
  border-radius: 0.8rem;
  padding: 2.2rem;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  outline: none;
}

.input-container .mail.active {
  border-color: var(--Tomato);
  background-color: hsl(4, 75%, 88%);
}

.input-container .mail.active::placeholder {
  color: var(--Tomato);
}

.input-container .mail.active:focus {
  border-color: var(--Tomato);
  outline: none;
}

.input-container .submit, .dimiss{
  height: 5.5rem;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--Dark-Slate-Grey);
  color: var(--White);
  font-weight: 700;
  font-size: 1.6rem;
}

.input-container .submit:hover{
  background-image: linear-gradient(
    to right,
    #ff5279, 
    #ff556a, 
    #ff5b5b, 
    #ff624b, 
    #fe6a3b
  );
}
.secondary-page .dimiss:hover{
  background-image: linear-gradient(
    to right,
    #ff5279, 
    #ff556a, 
    #ff5b5b, 
    #ff624b, 
    #fe6a3b
  );
}

.secondary-page {
  display: none;
  width: 375px;
  padding-top: 15rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: 0 auto;
}

.thanks h1 {
  font-size: 4rem;
  margin-top: 3rem;
  color: var(--Dark-Slate-Grey);
  line-height: 4rem;
  margin-bottom: 3rem;
}

.thanks p {
  color: var(--Dark-Slate-Grey);
  line-height: 2.4rem;
  margin-bottom: 26rem;
}

.thanks p span {
  font-weight: 700;
}

.dimiss {
  margin-bottom: 4rem;
}

@media screen and (min-width:1000px) {
  body {
    background-color: var(--Charcoal-Grey);
    padding-top: 50px;
  }
  .desktop-img {
    display: block;
    
  }
  
  .mobile-img {
    display: none;
  }

  .primary-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "mail img";
    width: 900px; 
    margin: 0 auto;
    background-color: var(--White);
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 35px;
  }
  .img-container {
    grid-area: img;
  }
  .mail-container {
    grid-area: mail;
  }

  .mail-container h1 {
    font-size: 5.5rem;
    color: var(--Dark-Slate-Grey);
    margin-bottom: 2rem;
    margin-top: 2.5rem;
  }

  .secondary-page {
    display: none;
    width: 500px;
    padding-top: 5rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin: 0 auto;
    background-color: var(--White);
    border-radius: 35px;
  }
  .thanks p {
    color: var(--Dark-Slate-Grey);
    line-height: 2.4rem;
    margin-bottom: 4rem;
    padding-right: 3rem;
  }
  .thanks h1 {
    font-size: 5.5rem;
    margin-top: 3rem;
    color: var(--Dark-Slate-Grey);
    line-height: 5.5rem;
    margin-bottom: 2.5rem;
  }
  .dimiss {
    margin-bottom: 6rem;
  }
  
}